
<div class="relative flex flex-col justify-center items-center px-4 h-screen bg-white">
    <div class="bg-[#F5F5F5] w-full lg:w-3/4 ">
        <div class=" relative flex mx-4  ">
            <div class="absolute top-24 px-14 w-full flex justify-center " >
                <img src="../assets/AirPods_max.png" alt="text-background">
            </div>
            <div class=" headsetAnimation-session grow flex z-20 justify-center relative ">
                <div class="headsetA">
                    <img class="w-full" src="../assets/argent_airpods.png" alt="sliver-headset">
                </div>
                <div class="headsetB">
                    <img class="w-full" src="../assets/rose_airpods.png" alt="pink-headset">
                </div>
                <div class="headsetC ">
                    <img class="w-full" src="../assets/noir_airpods.png" alt="black-headset">
                </div>
            </div>
            <div class=" w-[380px] mt-3 z-20 pr-14">
                <div class="text-[#BF4800] text-[17px] mb-1">Gravure gratuire</div>
                <div class="font-bold text-[40px] text-[#1D1D1F] leading-[57px] w-[282px]">
                    AirPods Max
                    Siren 2019
                </div>

                <div  class="p-3.5 mt-5 mb-[28px] w-full rounded-lg bg-white">
                    <div class="text-2xl font-bold">629,00 €</div>
                    <div class="h-[1px] w-full my-2 bg-black/10"></div>
                    <div class="text-[10px]">
                        <p class="font-bold">
                            AppleCare+ pour casques et écouteurs
                        </p>
                        <P class="my-1.5">
                            Obtenez jusqu'à deux ans de garantie couvrant un nombre illimité de réparations relevant de dommages accidentels et une assistance technique supplémentaire**
                        </P>
                        
                        <p>
                            Inclut la taxe sur les primes d'assurance au taux applicable
                        </p>
                    </div>
                </div>

                <div class="headset-session">
                    <div class="headset-presentation">
                        <img  src="../assets/argent.png" alt="casque couleur argent">
                        <img src="../assets/finish-silver-202011.png" alt="sliver dot ">
                        <span>Argent</span>
                        <div class="animated-background" [ngClass]="focusedHeadset===1?'show-animated-background':'remove-animated-background'"></div>
                    </div>

                    <div class="headset-presentation">
                        <img src="../assets/noir.png" alt="casque couleur noir">
                        <img src="../assets/finish-spacegray-202011.png" alt="black dot">
                        <span >noir</span>
                        <div class="animated-background h-[179px]" [ngClass]="focusedHeadset===2?'show-animated-background':'remove-animated-background'"></div>
                    </div>

                    <div class="headset-presentation">
                        <img src="../assets/rose.png" alt="casque couleur rose">
                        <img src="../assets/finish-pink-202011.png" alt="black dot">
                        <span>Rose</span>
                        <div class="animated-background" [ngClass]="focusedHeadset===3?'show-animated-background':'remove-animated-background'"></div>
                    </div>
                    <div class="w-[94px] rounded-2xl blue-slider h-[5px] absolute bottom-[1px] translate-x-[114px] bg-[#0071E3]"></div>
                </div>
            </div> 
        </div>  
        <div class="cursor-pointer w-full -mb-6 mt-[76px] text-white flex justify-center gap-[18px]">
            
            <div (click)="showPrev()" class="prev rounded-[1435px] bg-[#0071E3] p-2.5 flex items-center" >
                <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
                    <path opacity="0.4" d="M16.5003 29.922C24.0119 29.922 30.1012 23.8326 30.1012 16.321C30.1012 8.80947 24.0119 2.72013 16.5003 2.72013C8.98875 2.72012 2.89941 8.80946 2.89941 16.321C2.89941 23.8326 8.98875 29.922 16.5003 29.922Z" fill="white"/>
                    <path d="M18.2138 22.1422C17.9554 22.1422 17.697 22.047 17.4929 21.843L12.6918 17.0419C12.2974 16.6475 12.2974 15.9946 12.6918 15.6002L17.4929 10.7991C17.8874 10.4046 18.5402 10.4046 18.9346 10.7991C19.3291 11.1935 19.3291 11.8463 18.9346 12.2408L14.8544 16.321L18.9346 20.4013C19.3291 20.7957 19.3291 21.4486 18.9346 21.843C18.7442 22.047 18.4858 22.1422 18.2138 22.1422Z" fill="white"/>
                </svg>
            </div>

            <div (click)="showNext()" class="next rounded-[1435px]  bg-[#0071E3] flex justify-between items-center p-2.5" >
                <span class=" next-text opacity-0 absolute mr-1">Précédent</span>
                <span class="mr-2 prev-text">Suivant</span>
                <svg class="next-icon" xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none">
                    <path opacity="0.4" d="M16.4997 2.72014C8.98809 2.72014 2.89875 8.80948 2.89875 16.3211C2.89875 23.8326 8.98809 29.922 16.4997 29.922C24.0112 29.922 30.1006 23.8326 30.1006 16.3211C30.1006 8.80948 24.0113 2.72015 16.4997 2.72014Z" fill="white"/>
                    <path d="M14.7862 10.4999C15.0446 10.4999 15.303 10.5951 15.5071 10.7991L20.3082 15.6002C20.7026 15.9946 20.7026 16.6475 20.3082 17.0419L15.5071 21.843C15.1126 22.2375 14.4598 22.2375 14.0654 21.843C13.6709 21.4486 13.6709 20.7958 14.0654 20.4013L18.1456 16.3211L14.0654 12.2408C13.6709 11.8464 13.6709 11.1935 14.0654 10.7991C14.2558 10.5951 14.5142 10.4999 14.7862 10.4999Z" fill="white"/>
                </svg>
            </div>
        </div> 
    </div>
    
    
</div>